# Google Colab Tutorial
## 1. Why Google Colab?
Google Colab offers a free online python environment with a basic GPU where you can use pytorch and tensorflow to train deep learning. It is a convenient interface for the beginners to practice python and neural networks.

## 2. How to use Google Colab 
Log in to your Google account, and go to Google colab website.

<img src="img/img1.png" style="max-width: 800px;">

Click new note book

<img src="img/img2.png" style="max-width: 800px;">

The name of the notebook can be changed as you wish

<img src="img/img3.png" style="max-width: 800px;">

The block of code can be run if you Ctrl+enter or click the arrow, + code를 눌러서 새로운 블락을 추가할 수 있습니다.

<img src="img/img4.png" style="max-width: 800px;">

# Python tutorial

Python is one of the most popular language used by the scientist. It has abundant software packages and neural network packages such as tensorflow and pytorch are based on python. Here we will begin to learn about the basics of python.

## 1. Python basics
### a. variables

int = integer
float = numbers with decimal
str = string
bool = true or false

In [ ]:
name = 'Titanic'
age = 1997
price = 3.9 
Available = False # Uppercase True or False

#### EXERCISE
Make variables about a new patient names John, who has height of 174.2 cm, and is 33 years old.
Define four variables: height, age, name, and new_patient.

### b. If you run into errors, the hints are in the error message

In [ ]:
birth_year = '1996'
Age = 2024 - birth_year
print(Age)

### c. Type Conversion

In [ ]:
birth_year = '1996'
print(type(birth_year))

In [ ]:
birth_year = int(birth_year)
print(type(birth_year))

In [ ]:
Age = 2024 - birth_year
print(Age)

In [ ]:
message = 'his age is ' + str(Age)
print(message)

In [ ]:
print(str(True))
print(int(True))

In [ ]:
print(str(False))
print(int(False))

#### EXERCISE
Calculate the integer year 7 years ago from today, and convert it to string and write message.

### d. string

In [ ]:
course = 'Python for beginners'

In [ ]:
course = "Python for beginners"

In [ ]:
course = 'Python's course for beginners'

In [ ]:
course = "Python's course for begineers"

In [ ]:
course = 'Python for "begineers"'

In [ ]:
course = '''Python's course for "beginners"'''

In [ ]:
course = '''
Hello Professor,
I'm John. Can I take your course "Python for begineers?"
Thank you,
John
'''

In [ ]:
course = 'Python'
#         012345
#             -1
print(course[0])

In [ ]:
print(course[-1])

In [ ]:
print(course[0:3])

In [ ]:
print(course[:3])

In [ ]:
print(course[3:])

In [ ]:
print(course[-2:-1])

In [ ]:
print(course[-2:])

In [ ]:
print(course[:-2])

#### EXERCISE
name = 'Geun Ho Gu'\
What kind of output would you get if you type this?
print(name[1:-1])

### e. Formatted string

In [ ]:
first = 'Geun Ho'
last = 'Gu'
msg = first +' [' + last + '] is a coder'
print(msg)

In [ ]:
msg = f'{first} [{last}] is a coder'
print(msg)

#### EXERCISE
Make an age integer variable, and use formmated stringto print the following message
"I'm 17 years old."

### f. string method

In [ ]:
course = 'Python for beginners'
print(len(course))

Python is an object orientted programming language where every variable contains methods that can be run.
course.\<tab\>

In [ ]:
course.

In [ ]:
course.upper()

In [ ]:
course.find('t')

In [ ]:
course.replace('beginners','intermediates')

In [ ]:
'for' in course

In [ ]:
len(course)

In [ ]:
course.__len__()

### g. Arithmetic

In [ ]:
x = 5
print(x + 5)  # 더하기

In [ ]:
print(x - 3)  # 빼기

In [ ]:
print(x * 9)  # 곱하기

In [ ]:
print(x / 2)  # 나누기

In [ ]:
print(x % 2)  # 나머지

In [ ]:
print(x // 2) # 몫

In [ ]:
print(x ** 3) # 지수

In [ ]:
x = 3
x = x + 2
print(x)

In [ ]:
x += 2
print(x)

In [ ]:
x //= 2
print(x)

### Exercise
Calculate the following\
$$10 + 3 \times 2$$

$$\sqrt[3]{2*10}$$

In [ ]:
(2*10)**(1/3)

### Exercise
Calculate the following\
$$\sqrt[3]{2*5} + \sqrt{5-2}$$

## h. math functions

In [ ]:
x = -2.3
print(abs(x))

In [ ]:
print(round(x))

In [ ]:
import math
math.ceil(-2.3)

## i. if statement
if it's a hot day\
    It's hot\
    Drink plenti of water\
otherwise if it's cold\
    It's cold\
    wear warm cloth\
otherwise\
    It's a nice day

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
print('enjoy your day')

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")

In [ ]:
is_hot = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")
else:
    print("It's a cold day")
    print("Wear warm cloth")

In [ ]:
is_hot = False
is_cold = True
if is_hot:
    print("It's a hot day")
    print("Drink plenti of water")
elif is_cold:
    print("It's a cold day")
    print("Wear warm cloth")
else:
    print("It's a nice day")

### Exercise
Write a if statement, where you if you are hungry, it prints eat lunch, otherwise print brush teeth.

In [ ]:
I_like_ice_cream = True
I_am_hungry = True
if I_am_hungry and I_like_ice_cream:
    print('I eat ice cream')

In [ ]:
if I_am_hungry or I_like_ice_cream: # at least one condition is true
    print('I like eating')

In [ ]:
if not I_like_ice_cream:
    print("I don't like ice cream")

In [ ]:
if I_am_hungry and not I_like_ice_cream:
    print('I want to eat but not ice cream')

## j. Booleans
A variable that represents true or false is called boolean

In [ ]:
t = True
f = False
print(t,f)
print(type(t))

For boolean variables you can use "and" , "or", and "not"

In [ ]:
# x and y = true if both x and y are true
print(t and t)

In [ ]:
print(t and f)

In [ ]:
print(t or t)

In [ ]:
print(t or f)

In [ ]:
print(not t)

#### Exercise
What output would you get in the following case?

In [ ]:
print(f or f)

In [ ]:
print(f or t)

In [ ]:
print(not f)

### Comparison

In [ ]:
 print(1 == 1) # equality

In [ ]:
 print(1 == 2)

In [ ]:
 print(1 != 1) # inequality

In [ ]:
 print(1 != 2)

In [ ]:
print( 1 < 2) # less than

In [ ]:
print( 1 > 2) # greater than

In [ ]:
print( 1 <= 2) # less than or equal to

In [ ]:
print( 1 <= 1)

In [ ]:
print( 1 >= 2)# greater than or equal to

In [ ]:
Temperature = 30
if Temperature > 23:
    print("It's hot")

#### Exercise
Make a if statement where, if the length of the string is less than 3, then print it's too short, if it is larger than 50, than print it's too long. otherwise print okay.

## k. while loop

In [ ]:
i = 1
while i <= 5:
    print('*'*i)
    i = i +1
print('done')

#### Exercise
Use while loop to double the number of rabbits until it is above 20.

## l. Blackjack game

Let's make a while loop that allow user to add card until they are busted.

In [ ]:
input_value = input('your input')
print(input_value)

In [ ]:
import random
current_value = random.randrange(1,10)
current_value += random.randrange(1,10)

while True:
    print(f"our value is {current_value}")
    command = input('(hit, stop)>')
    if command == 'stop':
        print(f"Your value is {current_value}")
        break
    elif command == 'hit':
        current_value += random.randrange(1,10)
    if current_value > 21:
        print(f"Your value is {current_value}")
        print('busted!')
        break

## m. For loops

In [ ]:
for item in 'python':
    print(item)

In [ ]:
for item in ['John','Sara','Alan']:
    print(item)

In [ ]:
for item in [1,2,3,4,5,6]:
  print(item)

In [ ]:
for item in range(20):
  print(item)

#### Execercise
Add up all the item in the prices\
prices = [60,70,90]

## n. Nested Loop
(x,y)\
(0,0)\
(0,1)\
(0,2)\
(1,0)\
(1,1)\
...

In [ ]:
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

#### Exercise
given numbers = [2,3,4,1]\
Use the nested loop to print the following:\
xx\
xxx\
xxxx\
x

## o. List
List saves other variables in serial

In [ ]:
names = ['John','Mary','Sara','Alan']
print(names[0])

In [ ]:
print(names[2:])

In [ ]:
print(names[-2])

In [ ]:
print(names[-2:])

#### Exercise
Write a code that find the maximum value in the list [2,3,1,5,2,9,10,2]

In [ ]:
list_of_whatevers = [1, 3.2, 'wow', 'okay',['list within list']]
print(list_of_whatevers)

### 2D Matrix

In [ ]:
Matrix = [
             [1,2,3],
             [4,5,6],
             [7,8,9]
]
print(Matrix[0][2])

In [ ]:
Matrix[0][2] = 20
print(Matrix)

### List Methods

In [ ]:
numbers = [5,2,1,3,2]
#numbers.<tab>

In [ ]:
numbers.append(20)
print(numbers)

In [ ]:
numbers.insert(0, 90)
print(numbers)

In [ ]:
numbers.pop()
print(numbers)

In [ ]:
print(numbers.index(1))

In [ ]:
print(3 in numbers)

In [ ]:
numbers.sort()
print(numbers)

In [ ]:
numbers.reverse()
print(numbers)

#### Exercise 
Make a program that removes repeating numbers in [2,2,4,6,3,3,6,1]. Hint: Make a new list.

## p. tuple
Tuple is similar to list, but it cannot be modified.

In [ ]:
numbers = (0,1,2)
print(numbers[0])

In [ ]:
numbers[0] = 2

### Unpacking

In [ ]:
Coordinates = (2,3,1)
x,y,z = Coordinates
print(x,y,z)

# Advanced For loops

In [ ]:
student_names = ['Alice', 'Bob', 'Charlie']
for name in student_names:
    print(name)

In [ ]:
student_names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 75]
for name, score in zip(student_names, scores):
    print(f"{name}: {score}")

In [ ]:
studentnames_scores = [['Alice',85],['Bob',90],['Charlie',75]]
for name,score in studentnames_scores:
    print(name,score)

In [ ]:
Fruits = ['Strawberry', 'Banana', 'Apple','Blueberry','Orange','Blackberry']
prices = [23,21,26,28,20,3]
for index,name in enumerate(Fruits):
    if 'berry' in name:
        prices[i] -= 2
print(prices)

In [1]:
student_names = ['Alice', 'Bob', 'Charlie']
scores = [85, 90, 75]
for index, (name, score) in enumerate(zip(student_names, scores)):
    print(f"Student {index+1}: {name} scored {score}")

Student 1: Alice scored 85
Student 2: Bob scored 90
Student 3: Charlie scored 75

### exercise

You have a list of students and list of scores. Write a code that find the name of student with the highest score. This problem can be approached from using either zip or enumerate.

## q. Dictionary
name - John\
email - john@gmail.com\
age - 32\
Phone - 1234\

In [ ]:
Person = {
    'name':'John',
    'email':'john@gmail.com',
    'age':32,
    'age':40,
    'Phone':1234,
}

In [ ]:
Person['name']

In [ ]:
Person['Name']

In [ ]:
Person['birthdate']

In [ ]:
Person.get('birthdate')

In [ ]:
Person.get('birthdate','Jan 01')

In [ ]:
Person['birthday'] = 'Feb 14'

In [ ]:
print(Person['birthday'])

#### Exercise
Make a dictionary that gives one, two, and three as string, with key 1, 2, and 3.

## r. functions

In [ ]:
def greet_user():
    print('Hi there!')
    print('Welcome aboard!')

print('start')
greet_user()
print('finish')

In [ ]:
def greet_user(name):
    print(f'Hi {name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
print('finish')

In [ ]:
def greet_user(name):
    print(f'Hi {name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
greet_user('Mary')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user('John','Smith') # positional argument
greet_user('Mary','Scott')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user('John')
print('finish')

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')

print('start')
greet_user(last_name='Smith',first_name='John')
print('finish')

In [ ]:
def square(number):
    return number* number # return

result = square(5)
print(result)

In [ ]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome aboard!')
    return None

In [ ]:
def square(number):
  return number, number*number

squared_number = square(2)
print(squared_number)

#### Exercise
Make a function that takes in two integers and returns the multiplied value

## s. class
Class is used to define a new variable with its custom methods.

In [ ]:
numbers = [1,2,3,4,5]
numbers.append
numbers.insert
numbers.pop
numbers.index
numbers.sort
numbers.reverse

In [ ]:
class zoo:
    def cow(self):
        print('moo')
    def cat(self):
        print('meow')

Zoo1 = zoo()
Zoo1.number_of_cats = 10
Zoo1.cat()
Zoo2 = zoo()
Zoo2.number_of_cows = 3
Zoo2.cow()

### Consturctor

In [ ]:
class zoo:
    def __init__(self,number_of_cows,number_of_cats):
        self.number_of_cows = number_of_cows
        self.number_of_cats = number_of_cats
    def cow(self):
        print('moo')
    def cat(self):
        print('meow')

SeoulZoo = zoo(10,5)
print(SeoulZoo.number_of_cows)

In [ ]:
class Person:
    def __init__(self,name):
        self.name = name
    def talk(self):
        print(f'Hi! My name is {self.name}.')

john = Person('John Smith')
john.talk()

john = Person('Bob')
john.talk()

### Inheritance

In [ ]:
class Mammal:
    def walk(self):
        print('walk')

class Dog(Mammal):
    pass

class Cat(Mammal):
    pass

dog1 = Dog()
dog1.walk()

In [ ]:
class Mammal:
    def walk(self):
        print('walk')

class Dog(Mammal):
    def bark(self):
        print('bark')

class Cat(Mammal):
    def meow(self):
        print('meow')

dog1 = Dog()
dog1.walk()
dog1.bark()

cat1 = Cat()
cat1.walk()
cat1.meow()

In [ ]:
cat1.bark()

#### Exercise
Make a Pasture class where the number of cow is defined by __init__, and define a function that add a cow, and another function that prints the number of cow.

## t. module

In [ ]:
from converter import kg_to_lbs
print(kg_to_lbs(65))

## u. Numpy

In [3]:
import numpy as np

In [ ]:
x = np.array([[1,2,3],[4,5,6])
print(type(x))
print(x)

In [ ]:
print(x.ndim)

In [ ]:
print(x.shape)

In [ ]:
print(x.size)

In [ ]:
print(x.dtype)

In [ ]:
print(x[0])

In [ ]:
print(x[0,0],x[0,1],x[1,2])

In [ ]:
print(x[0][0])

In [ ]:
print(x[0,:])
print(x[:,1])

In [ ]:
print(x[1:2,:])

### Exercise

In [ ]:
wow = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
])

What is the ndim? shape? size? dtype?

### 스페셜 메트릭스

In [ ]:
a = np.zeros((2,2))  # Create an array of all zeros
print(a)

In [ ]:
b = np.ones((1,2))   # Create an array of all ones
print(b)

In [ ]:
d = np.eye(2)        # Create a 2x2 identity matrix
print(d)

In [ ]:
np.arange(10,30,5)

In [ ]:
np.linspace(0,10,25)

# basic operation

In [52]:
a = np.array([0,1,2,3,4])
5*np.sin(a)

array([ 0.        ,  4.20735492,  4.54648713,  0.70560004, -3.78401248])

In [ ]:
np.exp(a)

In [ ]:
np.sqrt(a)

In [ ]:
a**2

In [54]:
a = np.array([0.1,2.3,2.9,3.2])
np.floor(a)

array([0., 2., 2., 3.])

In [55]:
np.ceil(a)

array([1., 3., 3., 4.])

In [ ]:
np.round(a)

In [4]:
A = np.array([[1, 1],
              [0, 1]])
B = np.array([[2, 0],
              [3, 4]])
A+B

array([[2, 0],
       [0, 4]])

In [48]:
A*B

array([[ 4,  0],
       [ 0, 16]])

In [ ]:
A @ B

In [ ]:
A.dot(B)

In [5]:
A *= B

$$
\begin{bmatrix}
1 & 2 & 3 \\
4 & 5 & 6 \\
\end{bmatrix}
\odot
\begin{bmatrix}
2 & 3 & 4 \\
5 & 6 & 7 \\
\end{bmatrix}
$$

$$\odot$$ indicates elemental wise multiplicatoin

$$
\begin{bmatrix}
1 & 2 & 3 \\
4 & 5 & 6 \\
\end{bmatrix}
\cdot
\begin{bmatrix}
2 & 3 \\
4 & 5 \\
6 & 7 \\
\end{bmatrix}
$$

### Random

In [50]:
a = np.random.random((3,5))
print(a)

[[0.76111497 0.25233259 0.49513185 0.91831541 0.59507995]
 [0.88771207 0.46962829 0.02317103 0.40110592 0.1189016 ]
 [0.61827283 0.39555364 0.3124598  0.02800395 0.73059427]]

### exercise
Make a 5,3 matrix with a integer value between 0 and 5

In [ ]:
a.sum()

In [ ]:
a.sum(axis=0)

In [ ]:
a.mean()

In [ ]:
a.mean(axis=1)

In [ ]:
a.min()

In [ ]:
a.std()

Make a student score using
```
np.round(np.random.random((10))*100)
```
calculate the mean, min, max, and standard deviatoin

### Changing shape

You have scores of students for subejct that looks like this:
```
student_scores = np.array([[80, 75, 90],
                           [85, 90, 88],
                           [70, 65, 78]])
```
with a shape of (3,3) where the first dimension corresponds to students and the second dimension corresponds to subjects

add a dimension between the first and the second to present semester.

In [57]:
a = np.array([[3., 7., 3., 4.],
       [1., 4., 2., 2.],
       [7., 2., 4., 9.]])

In [ ]:
a.ravel()

In [ ]:
a.reshape(6,2)

In [47]:
a[:,:,None].shape

(5, 5, 1)

In [58]:
a[:,None,:].shape

(3, 1, 4)

In [ ]:
a.T

In [16]:
a = np.floor(10*np.random.random((2,2)))
print(a)

[[4. 3.]
 [3. 8.]]

In [17]:
b = np.floor(10*np.random.random((2,2)))
print(b)

[[5. 7.]
 [6. 4.]]

In [19]:
c = np.concatenate((a,b),axis=0)
print(c)
print(c.shape)

[[4. 3.]
 [3. 8.]
 [5. 7.]
 [6. 4.]]
(4, 2)

### execercise
There are 24 students which is represented by index
```
students = np.arange(1,25)
```
Use reshape to make a seatting arrangement in 6 rows and 4 columns.])

### Broadcasting

In [ ]:
a = np.random.random((5,5))
print(a)
a[:,0] = 1
print(a)

In [ ]:
a = np.random.random((5,5))
print(a)
a[1,:] = 1
print(a)

In [ ]:
a = np.zeros((5,5))
print(a)
a += 1
print(a)

For the students scores below,
```
student_scores = np.array([[80, 75, 90],
                           [85, 90, 88],
                           [70, 65, 78]])
```
where each row indicates a student, each column indicates a subject, use broadcast to add 5 point, 3 points, and 1 points for the subjects respectively.

In [23]:
a = np.floor(10*np.random.random((3,3)))
print(a)
b = np.floor(10*np.random.random((3,)))
print(b)
print(a*b)

[[6. 9. 6.]
 [5. 1. 9.]
 [6. 3. 8.]]
[5. 6. 6.]
[[30. 54. 36.]
 [25.  6. 54.]
 [30. 18. 48.]]

In [24]:
a = np.floor(10*np.random.random((3,2)))
print(a)
b = np.floor(10*np.random.random((3,)))
print(b)
print(a*b)

[[2. 3.]
 [0. 4.]
 [0. 4.]]
[5. 9. 7.]

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

In [26]:
a = np.floor(10*np.random.random((3,)))
print(a)
b = np.floor(10*np.random.random((3,1)))
print(b)
print(a*b)

[0. 0. 4.]
[[0.]
 [1.]
 [0.]]
[[0. 0. 0.]
 [0. 0. 4.]
 [0. 0. 0.]]

In [ ]:
a = np.floor(10*np.random.random((3,)))
print(a)
b = np.floor(10*np.random.random((3,)))
print(b)
print(a*b[:,None])

For the students scores below,
```
student_scores = np.array([[80, 75, 90],
                           [85, 90, 88],
                           [70, 65, 78]])
```
where each row indicates a student, each column indicates a subject, use broadcast to add 5 point, 3 points, and 1 points for the subjects respectively.

# Advanced Indexing

In [32]:
a = np.floor(10*np.random.random((10,)))
print(a)

[5. 7. 3. 2. 9. 5. 1. 7. 2. 6.]

In [34]:
I = np.array([3,2,4,5,6,7])
print(a[I])

[2. 3. 9. 5. 1. 7.]

In [62]:
a = np.floor(10*np.random.random((10,10)))
print(a)

[[2. 5. 0. 4. 8. 6. 3. 3. 3. 6.]
 [9. 0. 6. 8. 3. 9. 9. 0. 4. 6.]
 [7. 6. 6. 3. 3. 9. 7. 4. 5. 9.]
 [0. 6. 8. 6. 3. 8. 3. 2. 9. 9.]
 [6. 6. 0. 1. 1. 2. 6. 0. 5. 4.]
 [9. 3. 1. 0. 3. 4. 2. 2. 3. 2.]
 [1. 4. 8. 3. 6. 9. 8. 5. 5. 2.]
 [3. 4. 7. 7. 0. 7. 1. 2. 7. 2.]
 [7. 1. 4. 1. 2. 7. 0. 6. 2. 1.]
 [5. 5. 7. 7. 6. 3. 9. 0. 2. 8.]]

In [36]:
I1 = np.array([1,2,3])
print(a[I1,:])

[[9. 4. 6. 1. 4. 7. 2. 4. 3. 7.]
 [3. 6. 8. 9. 1. 5. 4. 0. 5. 2.]
 [0. 2. 1. 9. 9. 0. 4. 6. 6. 5.]]

In [65]:
I1 = np.array([1,2,3])
I2 = np.array([0,3])
b = a[I1,:]
c = b[:,I2]
print(c)
print(a[I1,:][:,I2])

[[9. 8.]
 [7. 3.]
 [0. 6.]]
[[9. 8.]
 [7. 3.]
 [0. 6.]]

In [66]:
I1 = np.array([3,2,0])
print(a[I1,:])

[[0. 6. 8. 6. 3. 8. 3. 2. 9. 9.]
 [7. 6. 6. 3. 3. 9. 7. 4. 5. 9.]
 [0. 6. 8. 6. 3. 8. 3. 2. 9. 9.]]

In [67]:
I1 = np.array([3,2,3])
print(a[I1,:])

[[0. 6. 8. 6. 3. 8. 3. 2. 9. 9.]
 [7. 6. 6. 3. 3. 9. 7. 4. 5. 9.]
 [0. 6. 8. 6. 3. 8. 3. 2. 9. 9.]]

```
test_scores = np.array([[75, 82, 90],
                        [85, 88, 92],
                        [70, 78, 85],
                        [65, 75, 80],
                        [90, 92, 95]])
student_indices = np.array([0, 2, 4])
subject_preferences = np.array([1, 2, 0])
```
From the scores, get the scores of students defined by the student_indices, and also change the order of the subject as shown in subject_preferences

### 매트릭스 Boolean

In [40]:
a = np.floor(10*np.random.random((3,)))
print(a)

[3. 6. 5.]

In [41]:
print(a[[True,False,False]])

[3.]

In [42]:
print(a[[False,True,True]])

[6. 5.]

In [44]:
a = np.random.random((5,5))
print(a)

[[0.36748521 0.25188332 0.05031127 0.05029036 0.87660766]
 [0.96105404 0.55162472 0.78918591 0.41505752 0.34819872]
 [0.82786144 0.3515979  0.15933675 0.07706469 0.47966761]
 [0.52982846 0.83655498 0.66648308 0.45912198 0.1663629 ]
 [0.19609891 0.43512324 0.14155436 0.00498601 0.76943508]]

In [45]:
I = a>0.5
print(I)

[[False False False False  True]
 [ True  True  True False False]
 [ True False False False False]
 [ True  True  True False False]
 [False False False False  True]]

In [46]:
I = a>0.5
print(a[I]) # boolean indexing

[0.87660766 0.96105404 0.55162472 0.78918591 0.82786144 0.52982846
 0.83655498 0.66648308 0.76943508]

Find the name of the students with scores above 80.
```
students = np.array(["Alice", "Bob", "Charlie", "David", "Emma"])
test_scores = np.array([75, 82, 90, 65, 88])
```

## v. Matplotlib
그림을 그릴 수 있다.

In [ ]:
import matplotlib.pyplot as plt
x = np.arange(0,3*np.pi,0.1)
y = np.sin(x)

plt.plot(x, y)
plt.show()

In [ ]:
plt.scatter(x,y)
plt.show()

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin)
plt.plot(x, y_cos)

In [ ]:
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x')
plt.ylabel('f(x)')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])
plt.axis('tight')
plt.show()

## Pandas를 사용한 CSV 파일 읽기
Pandas 패키지를 이용해서 csv 파일을 불러 올 수 있다.

In [ ]:
import urllib.request
urllib.request.urlretrieve("https://github.com/GuGroup/NNTutorial-2024-02-11-Winter-camp/raw/main/2PythonTutorial/data.csv", "data.csv")

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

In [ ]:
data = df.to_numpy()
print(data.shape)
print(data)